<nav id="navigation">
  <ul class="pull-left logo">
    <li>
      <a href="/">Periodic</a>
    </li>
  </ul>
  <ul class="pull-right text-right">
    <div class="collapse-button">
      <li><a>[+]</a>
      </li>
    </div>
    <div class="collapse-container">
      <li><a href="/">Download</a>
      </li>
      <li><a href="/">Guide</a>
      </li>
      <li><a href="/">FAQ</a>
      </li>
    </div>
  </ul>
</nav>