<nav id="navigation">
  <ul class="pull-left logo">
    <li>
      <a href="/">Periodic</a>
    </li>
  </ul>
  <ul class="pull-right text-right">
    <div class="collapse-button">
      <li><a>[+]</a>
      </li>
    </div>
    <div class="collapse-container">
      <li><a target="_blank" href="https://github.com/typesettin/periodicjs/archive/master.zip">Download</a>
      </li>
      <li><a target="_blank" href="https://github.com/typesettin/periodicjs/wiki">Guide</a>
      </li>
      <li><a target="_blank" href="https://github.com/typesettin/periodicjs/wiki/FAQ">FAQ</a>
      </li>
    </div>
  </ul>
</nav>