<nav id="navigation">
  <ul class="pull-left logo">
    <li>
      <a href="/">Periodic</a>
    </li>
  </ul>
  <ul class="pull-right text-right">
    <li><a href="/">Guide</a>
    </li>
    <li><a href="/">Github</a>
    </li>
    <li><a href="/">FAQ</a>
    </li>
  </ul>
</nav>