<h1>What's inside</h1>
<p>Traditional Content Management Frameworks are large, bloated and obtuse.</p>
<p>Whereas Periodic is built '<a href="http://thinkingonthinking.com/unix-in-the-browser/" target="_blank">the node way</a>'; A design philosophy based on the notion that both end users and developers benefit from keeping ideas simple and encouraging design patterns that structure applications to implement big ideas from many small components.</p>
<p>Periodic is designed to replace micro content management solutions like Wordpress and Drupal. Periodic is also designed to replace large enterprise content management solutions like <a target="_blank" href="http://www.adobe.com/solutions/web-experience-management.html">Adobe CQ5/Experience Manager</a>, <a target="_blank" href="http://www.autonomy.com/products/teamsite">Teamsite</a> and content management/e-commerce platforms like <a href="http://magento.com/" target="_blank">Magento</a>.</p>
<p>Controllers, Routes and Extensions are node modules, themes are customizable express views. The process to create and distribute new themes and extensions is easy and straightfoward, read more about extending Periodic with Node.js Modules in the <a href="https://github.com/typesettin/periodicjs/wiki" target="_blank">documentation</a>.</p>
<div class="figure-container">
  <div class="figure-wrapper">
    <figure class="diagram expanded">
      <section class="first">
        <img src="/assets/img/periodic-favicon.png" />
        <h3>Configuration, Themes, Extensions
        </h3>
      </section>
      <section class="second">
        <img src="/assets/img/nodejs.png" />
        <h3>PM2, Express, Node.js</h3>
      </section>
      <section class="third">
        <img src="/assets/img/mongodb.png" />
        <h3>MongoDB</h3>
      </section>
    </figure>
  </div>
</div>
<p class="text-center">
  <a class="goto-next-page">get involved</a>
</p>