<h2>Contribute your own Themes & Extensions</h2>
<p>"That is true, gentlemen," added John Sullivan. "Only eighty days, now that the section between Rothal and Allahabad, on the Great Indian Peninsula Railway, has been opened. Here is the estimate made by the Daily Telegraph:</p>
<p class="text-center">
  <small>
    <a class="action-button" href="/docs">Contribute</a>
  </small>
</p>

<h2>Hack & Fork</h2>
<p>"That is true, gentlemen," added John Sullivan. "Only eighty days, now that the section between Rothal and Allahabad, on the Great Indian Peninsula Railway, has been opened. Here is the estimate made by the Daily Telegraph:</p>
<p class="text-center">
  <small>
    <a class="action-button" target="_blank" href="https://github.com/typesettin/periodicjs">Fork me on github</a>
  </small>
</p>

<h2>Sign up for updates</h2>
<!-- <p></p> -->
<p class="text-center">
  <small>
    <a class="action-button">Email Updates</a>
  </small>
</p>
