<h2>Contribute your own themes & extensions</h2>
<p class="text-center">
  <small>
    <a class="action-button" target="_blank" href="https://github.com/typesettin/periodicjs/wiki">Documentation</a>
  </small>
</p>

<h2>Hack & fork</h2>
<p class="text-center">
  <small>
    <a class="action-button" target="_blank" href="https://github.com/typesettin/periodicjs">Github</a>
  </small>
</p>

<h2>Sign up to email updates</h2>
<p class="text-center">
  <small>
    <a class="action-button" href="https://tinyletter.com/getperiodic" target="_blank">Subscribe</a>
  </small>
</p>
