<h1>Three</h1>
<p>"And I should never get back to Kansas," said Dorothy.</p>

<p>"We must certainly get to the Emerald City if we can," the Scarecrow continued, and he pushed so hard on his long pole that it stuck fast in the mud at the bottom of the river. Then, before he could pull it out again--or let go--the raft was swept away, and the poor Scarecrow left clinging to the pole in the middle of the river.</p>

<p>"Good-bye!" he called after them, and they were very sorry to leave him. Indeed, the Tin Woodman began to cry, but fortunately remembered that he might rust, and so dried his tears on Dorothy's apron.</p>

<p>Of course this was a bad thing for the Scarecrow.</p>

<p>"I am now worse off than when I first met Dorothy," he thought. "Then, I was stuck on a pole in a cornfield, where I could make-believe scare the crows, at any rate. But surely there is no use for a Scarecrow stuck on a pole in the middle of a river. I am afraid I shall never have any brains, after all!"</p>

<p>"And I should never get back to Kansas," said Dorothy.</p>

<p>"We must certainly get to the Emerald City if we can," the Scarecrow continued, and he pushed so hard on his long pole that it stuck fast in the mud at the bottom of the river. Then, before he could pull it out again--or let go--the raft was swept away, and the poor Scarecrow left clinging to the pole in the middle of the river.</p>

<p>"Good-bye!" he called after them, and they were very sorry to leave him. Indeed, the Tin Woodman began to cry, but fortunately remembered that he might rust, and so dried his tears on Dorothy's apron.</p>

<p>Of course this was a bad thing for the Scarecrow.</p>

<p>"I am now worse off than when I first met Dorothy," he thought. "Then, I was stuck on a pole in a cornfield, where I could make-believe scare the crows, at any rate. But surely there is no use for a Scarecrow stuck on a pole in the middle of a river. I am afraid I shall never have any brains, after all!"</p>