<h1>What's inside</h1>
<p>Traditional Content Management Frameworks are large, bloated and obtuse.</p>
<p>Periodic is built '<a href="http://thinkingonthinking.com/unix-in-the-browser/" target="_blank">the node way</a>'. Keep ideas simple and compose big ideas from many smaller ones. Periodic is designed to replace micro content management solutions like Wordpress or Drupal, large enterprise content management solutions like CQ5 and Teamsite and content management/e-commerce platforms like magento.</p>
<p>Controllers, Routes and Extensions are node modules, themes are customizable express views. The process to create and distribute new themes and extensions is easy and straightfoward, read more about extending Periodic with Node.js Modules in the <a href="http://getperiodic.org/docs">documentation</a>.</p>
<div class="figure-container">
  <div class="figure-wrapper">
    <figure class="diagram expanded">
      <section class="first">
        <img src="/assets/img/periodic-favicon.png" />
        <h3>Configuration, Themes, Extensions
        </h3>
      </section>
      <section class="second">
        <img src="/assets/img/nodejs.png" />
        <h3>PM2, Express, Node.js</h3>
      </section>
      <section class="third">
        <img src="/assets/img/mongodb.png" />
        <h3>MongoDB</h3>
      </section>
    </figure>
  </div>
</div>
<p class="text-center"><a class="goto-next-page">get involved</a>
</p>