<h1>What's inside</h1>
<p>Traditional Content Management Frameworks are large, bloated and obtuse.</p>
<p>Periodic is built '<a href="http://thinkingonthinking.com/unix-in-the-browser/" target="_blank">the node way</a>'. Keep ideas simple and compose big ideas from many smaller ones. Periodic is designed to replace micro content management solutions like Wordpress or Drupal, large enterprise content management solutions like CQ5 and Teamsite and content management/e-commerce platforms like magento.</p>
<p>Controllers, Routes and Extensions are node modules, themes are customizable express views. The process to create and distribute new themes and extensions is easy and straightfoward, read more about extending Periodic with Node.js Modules in the <a href="http://getperiodic.org/docs">documentation</a>.</p>
<figure class="diagram">
  <section class="first">Application Layer
    <div>
      Periodic configuration, themes, extensions
    </div>
  </section>
  <section class="second">Service Layer
    <div>PM2, Express, Node.js</div>
  </section>
  <section class="third">Data Layer
    <div>MongoDB</div>
  </section>
</figure>
