<div id="title-card">
  <h1>Themeable, Extendable, Modular
    <br>Content Management</h1>
  <h2>An open source MongoDB, Node.js and Express solution
    <br>For digital publishing, e-commerce and mobile</h2>
  <h2><a id="goto-next-page">get started</a>
  </h2>
</div>
<video id="indexvideo" autoplay loop poster="/assets/img/modular-periodic-screengrab.jpg" class="lazyload">
  <source src="/assets/video/modular-periodic-960x540.mp4" type="video/mp4">
    <source src="/assets/video/modular-periodic-960x540.ogv" type="video/ogg">
</video>
<img src="/assets/img/modular-periodic-screengrab.jpg" id="indexnovideo" class="lazyload">
<!-- download button: http://tympanus.net/Development/CreativeButtons/ button 5/purple 
nav links: http://tympanus.net/Development/CreativeLinkEffects/ 2/blue 
icon links: http://tympanus.net/Development/IconHoverEffects/# -->