<ul>
  <li>
    <div class="panel flip">
      <div class="front">
        <img src="assets/img/icon_51262.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left">
        <h3>Developers</h3>
        <p>100% Open Source, Un-opininated, Modular, Themable, Extendable, Built on Express, Node.js and MongoDB</p>
      </div>
      <div class="back">
        <img src="assets/img/periodic-favicon.png" title="Get Periodic" alt="Periodic Content Management" class="left">
      </div>
    </div>
  </li>
  <li>
    <div class="panel flip">
      <div class="front">
        <img src="assets/img/icon_30484.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left">
        <h3>Designers</h3>
        <p>100% Open Source, Un-opininated, Modular, Themable, Extendable, Built on Express, Node.js and MongoDB</p>
      </div>
      <div class="back">
        <img src="assets/img/periodic-favicon.png" title="Get Periodic" alt="Periodic Content Management" class="left">
      </div>
    </div>
  </li>
  <li>
    <div class="panel flip">
      <div class="front">
        <img src="assets/img/icon_50975.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left">
        <h3>Publishers</h3>
        <p>100% Open Source, Un-opininated, Modular, Themable, Extendable, Built on Express, Node.js and MongoDB</p>
      </div>
      <div class="back">
        <img src="assets/img/periodic-favicon.png" title="Get Periodic" alt="Periodic Content Management" class="left">
      </div>
    </div>
  </li>
  <li>
    <div class="panel flip">
      <div class="front">
        <img src="assets/img/icon_36563.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left">
        <h3>Producers</h3>
        <p>100% Open Source, Un-opininated, Modular, Themable, Extendable, Built on Express, Node.js and MongoDB</p>
      </div>
      <div class="back">
        <img src="assets/img/periodic-favicon.png" title="Get Periodic" alt="Periodic Content Management" class="left">
      </div>
    </div>
  </li>
  <li>
    <div class="panel flip">
      <div class="front">
        <img src="assets/img/icon_56972.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left">
        <h3>Editors</h3>
        <p>100% Open Source, Un-opininated, Modular, Themable, Extendable, Built on Express, Node.js and MongoDB</p>
      </div>
      <div class="back">
        <img src="assets/img/periodic-favicon.png" title="Get Periodic" alt="Periodic Content Management" class="left">
      </div>
    </div>
  </li>
  <li>
    <div class="panel flip">
      <div class="front">
        <img src="assets/img/icon_53010.png" title="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" alt="Get Periodic for Developers, Designer and Content Creators. The open source enterprise content management framework for all" class="left">
        <h3>Enterprise</h3>
        <p>100% Open Source, Un-opininated, Modular, Themable, Extendable, Built on Express, Node.js and MongoDB</p>
      </div>
      <div class="back">
        <img src="assets/img/periodic-favicon.png" title="Get Periodic" alt="Periodic Content Management" class="left">
      </div>
    </div>
  </li>
</ul>