<h1>Get Involved</h1>
<p>"In eighty days," interrupted Phileas Fogg.</p>

<p>"That is true, gentlemen," added John Sullivan. "Only eighty days, now that the section between Rothal and Allahabad, on the Great Indian Peninsula Railway, has been opened. Here is the estimate made by the Daily Telegraph:</p>

<p>"Yes, in eighty days!" exclaimed Stuart, who in his excitement made a false deal. "But that doesn't take into account bad weather, contrary winds, shipwrecks, railway accidents, and so on."</p>

<p>"All included," returned Phileas Fogg, continuing to play despite the discussion.</p>

<p>"But suppose the Hindoos or Indians pull up the rails," replied Stuart; "suppose they stop the trains, pillage the luggage-vans, and scalp the passengers!"</p>
<p>"In eighty days," interrupted Phileas Fogg.</p>

<p>"That is true, gentlemen," added John Sullivan. "Only eighty days, now that the section between Rothal and Allahabad, on the Great Indian Peninsula Railway, has been opened. Here is the estimate made by the Daily Telegraph:</p>

<p>"Yes, in eighty days!" exclaimed Stuart, who in his excitement made a false deal. "But that doesn't take into account bad weather, contrary winds, shipwrecks, railway accidents, and so on."</p>

<p>"All included," returned Phileas Fogg, continuing to play despite the discussion.</p>

<p>"But suppose the Hindoos or Indians pull up the rails," replied Stuart; "suppose they stop the trains, pillage the luggage-vans, and scalp the passengers!"</p>