<% var title="Get Periodic - Enterprise Content Management" %>
  <% include shared/header %>
    <% include shared/nav %>
      <div id="container">
        <div class="panes">
          <div class="pane" id="pane1">
            <% include shared/index/pane1 %>
          </div>
          <div class="pane">
            <% include shared/index/pane2 %>
          </div>
          <div class="pane">
            <% include shared/index/pane3 %>
          </div>
          <div class="pane">
            <% include shared/index/pane4 %>
          </div>
        </div>
      </div>
      <% include shared/footer %>
