*, *:after, *:before { 
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

@font-face {
	font-family: 'Open Sans';
	src: url('../font/opensans/opensans-regular-webfont.eot');
	src: url('../font/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../font/opensans/opensans-regular-webfont.woff') format('woff'),
	     url('../font/opensans/opensans-regular-webfont.ttf') format('truetype'),
	     url('../font/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

// @font-face {
//     font-family: 'source_sans_probold';
//     src: url('sourcesanspro-bold-webfont.eot');
//     src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
//          url('sourcesanspro-bold-webfont.woff') format('woff'),
//          url('sourcesanspro-bold-webfont.ttf') format('truetype'),
//          url('sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

// @font-face {
//     font-family: 'source_sans_proregular';
//     src: url('../font/sourcesanspro-regular/sourcesanspro-regular-webfont.eot');
//     src: url('../font/sourcesanspro-regular/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
//          url('../font/sourcesanspro-regular/sourcesanspro-regular-webfont.woff') format('woff'),
//          url('../font/sourcesanspro-regular/sourcesanspro-regular-webfont.ttf') format('truetype'),
//          url('../font/sourcesanspro-regular/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
//     font-weight: normal;
//     font-style: normal;

// }

@font-face {
    font-family: 'source_sans_proextralight';
    src: url('../font/sourcesanspro-thin/sourcesanspro-extralight-webfont.eot');
    src: url('../font/sourcesanspro-thin/sourcesanspro-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sourcesanspro-thin/sourcesanspro-extralight-webfont.woff') format('woff'),
         url('../font/sourcesanspro-thin/sourcesanspro-extralight-webfont.ttf') format('truetype'),
         url('../font/sourcesanspro-thin/sourcesanspro-extralight-webfont.svg#source_sans_proextralight') format('svg');
    font-weight: normal;
    font-style: normal;

}


body, html { 
	font-size: 100%;
	font-family: Open Sans, Arial, sans-serif;
	padding: 0; 
	margin: 0;
	// background:#efefef; 
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
} 

h1,h2,h3,h4{
		font-family: source_sans_proextralight, Open Sans,Arial, sans-serif;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/
*/ 
.clearfix:before, .clearfix:after { 
	content: " "; display: table; 
} 
.clearfix:after { 
	clear: both; 
} 
body{ 
	overflow-x:hidden;
}
nav{
	position: fixed;
	top:0;
	width: 100%;
	height:2em;
	background: #000;
	z-index: 2000;
	font-family: source_sans_proextralight, Open Sans,Arial, sans-serif;
	ul{
		width:40%;
		list-style: none;
		margin: 0;
		padding: 0;
		&.logo{
			img{
				line-height: 1.7em;
				height:1.2em;
			}
		}
		li{
			display: inline-block;
			font-size: 1.2em;
			line-height: 1.7em;
			padding: 0 .5em;
			a{
				color: #fff;
				text-decoration: none;
			}
		}
		.collapse-button{
			display: none;
		}
	}
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
#container {
  height: 100%;
  overflow: hidden;
}
.panes {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  .pane {
		float: left;
		// background: #f8f8f8;
		// color: #888;
		width: 25%;
		height: 100%;
		list-style: none;
		margin: 0;
		padding: 2em;
		-ms-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		position: relative;
		opacity: 1;
		transition: opacity 0.6s linear 0.2s;
		
		.goto-next-page{
			padding: .8em 3.5em;
			background: rgba(0,0,0,.8);
			top: .4em;
			position: relative;
			text-transform: uppercase;
			cursor: pointer;
			color: #fff;
			&:hover:before {
				left: 75%;
			}
			&:before {
				left: 85%;
				top: 0;
				content: "\2192";
			}
			&:before {
				position: absolute;
				height: 100%;
				font-size: 125%;
				line-height: 2.5em;
				color: #fff;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}
		}
		&.lazyload{
			opacity: 0;
		}
		&#pane1{
			overflow: hidden;
			padding:0;
			background: #000;
			#title-card{
				position: absolute;
				z-index: 100;
				// background: rgba(239,239,239,.5);
				margin: 0 auto;
				width: 100%;
				height:100%;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				// padding: 25% 15% 25%;
				// padding: 5em 20em 0;
				color: #fff;
				// text-shadow: 0px 0px 23px #000000;
				font-size: 65%;
				h1{
					font-size:3em;
					font-weight: normal;
					padding-top: 30%;
					margin-top: 0;
				}
				h2{
					font-weight: normal;
				}
				
			}
			#indexvideo,#indexnovideo{
				transition: opacity 1.3s linear 0.1s;
				z-index: -1000;
				height: 100%;
				width: auto;
				-webkit-filter: grayscale(100%) contrast(150%) brightness(40%);
				-moz-filter: grayscale(100%) contrast(150%) brightness(40%);
				-ms-filter: grayscale(100%) contrast(150%) brightness(40%);
				filter: grayscale(100%) contrast(150%) brightness(40%);
				opacity: 1;
				&.lazyload{
					opacity: 0;
				}
			}
			#indexnovideo{
				z-index: -900;
			}
		}
		&#pane2{
			h3{
				text-transform: uppercase;
				margin: 0;
				font-size: 2em;
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					display: block;
					float: left;
					width: 50%;
					text-align: center;
					margin: 5em 0;
					min-height: 18em;
					p{
						text-align: justify;
						width: 70%;
						margin: auto;
						font-size: 90%;
					}
					img{
						width: 33%;
					}
				}
			}
		}
		&#pane3{
			-webkit-perspective: 200em;
			-moz-perspective: 200em;
			perspective: 200em;
			.figure-container{
				text-align: center;
				.figure-wrapper{
					margin: auto;
					max-width: 50em;
				}
			}
			figure.diagram{
				position: relative;
				left:10%;
				min-height: 35em;
				section{
					display: block;
					height:25em;
					width: 80%;
					background: #333;
					color: #fff;
					position: absolute;
					top:0em;
					padding:1em;
					-webkit-transform: rotateX(-60deg) rotateZ(-40deg) rotateY(10deg);
					-moz-transform: rotateX(-60deg) rotateZ(-40deg) rotateY(10deg);
					-ms-transform: rotateX(-60deg) rotateZ(-40deg) rotateY(10deg);
					transform: rotateX(-60deg) rotateZ(-40deg) rotateY(10deg);
					
					-webkit-transform-style: preserve-3d;
					-moz-transform-style: preserve-3d;
					-ms-transform-style: preserve-3d;
					transform-style: preserve-3d;
					
					-webkit-backface-visibility: hidden;
					-moz-backface-visibility: hidden;
					-ms-backface-visibility: hidden;
					backface-visibility: hidden;
					
					-webkit-transition: all 1.5s ease-in-out;
					transition: all 1.5s ease-in-out;
					cursor: pointer;
					h3{
						font-size: 150%;
						font-family: Open Sans, Arial, sans-serif;
					}
					img{
						height: 18em;
						// -webkit-filter: grayscale(100%) contrast(150%) brightness(40%);
						// -moz-filter: grayscale(100%) contrast(150%) brightness(40%);
						// -ms-filter: grayscale(100%) contrast(150%) brightness(40%);
						// filter: grayscale(100%) contrast(150%) brightness(40%);
					}

					&.first{
						z-index: 100;
						background: #fff;
						color: #000;
					}
					&.second{
						top: 4em;
						z-index: 66;
					}
					&.third{
						top: 8em;
						z-index: 33;
						background: black;
					}
					&.detail{
						transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
						z-index: 150;
					}
					
				}
				&:hover{
					min-height: 45em;
					section{
						&.first{
						}
						&.second{
							top: 8em;
						}
						&.third{
							top: 16em;
						}
					}
				}
				&.expanded{
					min-height: 80em;
					section{
						-webkit-transform: rotateX(0deg) rotateZ(-40deg) rotateY(0deg);
						-moz-transform: rotateX(0deg) rotateZ(-40deg) rotateY(0deg);
						-ms-transform: rotateX(0deg) rotateZ(-40deg) rotateY(0deg);
						transform: rotateX(0deg) rotateZ(0deg) rotateY(0deg);
						&.second{
							top:27em;
						}
						&.third{
							top:54em;
						}
					}
				}
			}
		}
	}

  .pane:nth-child(odd) {
		background: #efefef;
	}
}

.panel {
	// width: 200px;
	// height: 200px;
	height: 100%;
	width: 100%;
	position: relative;
	min-height: 18em;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;

	.front {
		// float: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 900;
		width: inherit;
		height: inherit;
		// border: 1px solid #ccc;
		// background: #6b7077;
		text-align: center;
		// box-shadow: 0 1px 5px rgba(0,0,0,0.9);

		-webkit-transform: rotateX(0deg) rotateY(0deg);
			 -moz-transform: rotateX(0deg) rotateY(0deg);
						transform: rotateX(0deg) rotateY(0deg);

		-webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
						backface-visibility: hidden;

		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
	}
	&.flip .front {
		z-index: 900;
		// border-color: #eee;
		// background: #333;
		box-shadow: 0 15px 50px rgba(0,0,0,0.2);

		-webkit-transform: rotateY(180deg);
			 -moz-transform: rotateY(180deg);
						transform: rotateY(180deg);
	}
	.back {
		float: none;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 800;
		width: inherit;
		height: inherit;
		// border: 1px solid #ccc;
		// background: #333;
		// text-shadow: 1px 1px 1px rgba(0,0,0,0.6);

		-webkit-transform: rotateY(-180deg);
			 -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
						transform: rotateY(-179deg);

		-webkit-transform-style: preserve-3d;
			 -moz-transform-style: preserve-3d;
						transform-style: preserve-3d;

		-webkit-backface-visibility: hidden;
			 -moz-backface-visibility: hidden;
						backface-visibility: hidden;

		/* -- transition is the magic sauce for animation -- */
		-webkit-transition: all .4s ease-in-out;
						transition: all .4s ease-in-out;
	}
	&.flip .back {
		z-index: 1000;
		// background: #80868d;

		-webkit-transform: rotateX(0deg) rotateY(0deg);
			 -moz-transform: rotateX(0deg) rotateY(0deg);
						transform: rotateX(0deg) rotateY(0deg);

		// box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	}
}


@media screen and (max-width: 21em) {
	nav{
		ul{
			&.logo{
				img{
				}
			}
			li{
				a{
				}
			}
			.collapse-button{
				display: inline-block;
			}
			.collapse-container{
				display: none;
				position: absolute;
			}
			&.pull-right.text-right:hover,
			&.pull-right.text-right.touched{
				.collapse-container{
					display: block;
					width: 100%;
					left: 0;
					background: rgba(239,239,239,0.85);
					height: 100%;
					position: fixed;
					text-align: center;
					font-size: 3em;
					
					li{
						display: block;
						a{
							color: #000;
						}
					}
				}
			}
		}
	}
	#container {
	}
	.panes {
	  .pane {
			&#pane1{
			}
			#title-card{
				// font-size: 40%;
				h1{
					padding-top: 15%;
					margin-bottom: .5em;
					font-size:3.8em;
				}
				h2{
					font-size:1.5em;
				}
			}
			#indexvideo{
			}
			&#pane2{
				padding: 2em 0;
				h3{
					// font-size: 1.3em;
					margin:.3em 0;
				}
				ul{
					li{
							width: 100%;
						p{
							// text-align: center;
							width: 75%;
						}
						img{
							width: 45%;
						}
					}
				}
			}
			&#pane3{
				.figure-container{
					.figure-wrapper{
					}
				}
				figure.diagram{
					left:-5%;
					cursor: pointer;
					section{
						display: block;
						height:15em;
						width: 120%;
						&.first{
						}
						&.second{
						}
						&.third{
						}
						h3{
							font-size: 100%;
						}
						img{
							height: 9em;
						}
					}
					&.expanded{
						min-height: 40em;
						section{
							&.second{
								top:17em;
							}
							&.third{
								top:34em;
							}
						}
					}
				}
			}
		}
	}
}
